<h1 class = "text-center">Navigation</h1><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project Name</th>
      <th scope="col">Start Date</th>
      <th scope="col">sql_link</th>
      <th scope="col">Interviewer</th>
    </tr>
  </thead>
  <tbody>
       <% @projects.each do |project|%>
            <tr>
                <td><%=project.name%></td>
                <td><%=project.entry_time%></td>
                <td><%=link_to project.sql_link, project.sql_link if project.sql_link.present?%></td>
                <td><%=link_to "manage interviewer", project_path(project)%></td>
            </tr>
       <%end%>
  </tbody>
</table>