<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<% if user_signed_in? %>
    <div class = "w3-container; w3-panel w3-round w3-border w3-border-blue", style = "height: 100%; width:100%">
        <center>
            <h4> Welcome to the Computer-assisted-interview system</h4>
        </center>
        
        <table class = "w3-table">
            <tr>
                <td><div class="w3-container; w3-panel w3-round w3-border w3-border-blue", style = "height: 350px; width:500px; background-color: rgba(255,0,0,0.1);">
                    <center><h3>test</h3></center>
                    <p></p>
                    <p>button1</button1></p>
                    <p>button2</p>
                    <p>button3</p>
                </div></td>
                <td><div class="w3-container; w3-panel w3-round w3-border w3-border-blue", style = "height: 350px; width:500px; background-color: rgba(255,0,0,0.1);">
                    <center><h3>test</h3></center>
                    <p></p>
                    <p>button1</p>
                    <p>button2</p>
                    <p>button3</p>
                </div></td>
            </tr>
        </table>
        
        <table class = "w3-table">
            <tr>
                <td><div class = "w3-container; w3-panel w3-round w3-border w3-border-blue", style = "height: 350px; width:500px; background-color: rgba(255,0,0,0.1);">
                    <table class = "w3-table">
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Role</th>
                        </tr>
                        <% @users.each do |user|%>
                        <tr>
                          <td><%=user.name%></td>
                          <td><%=user.email%></td>
                          <td><%=user.role%></td>
                        </tr>
                        <%end%>
                </div></td>
            </tr>
        </table>
    </div>
    
<%else%>
    <h1> prepare to log in</h1>
<%end%>
