<h1 class = "text-center">Navigation</h1><br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Start Date</th>
      <th scope="col">Inerviewer</th>
      <th scope="col">Title</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>03-30-2020</td>
      <td>Duncan H. Walker</td>
      <td>Do I send too many emails?</td>
      <td><button type="button" class="btn btn-info btn-sm">view</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>02-10-2020</td>
      <td>WHO</td>
      <td>Tips for quarantine?</td>
      <td><button type="button" class="btn btn-info btn-sm">view</button></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>02-16-2020</td>
      <td>Michael k. Young</td>
      <td>Do I send too many emails than Dr.Walker?</td>
      <td><button type="button" class="btn btn-info btn-sm">view</button></td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>01-15-2020</td>
      <td>Donald Trump</td>
      <td>Why care about Coronavirus?</td>
      <td><button type="button" class="btn btn-info btn-sm">view</button></td>
    </tr>
  </tbody>
</table>